body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #264653;
  /* background: no-repeat center url("../public/img/background.png"); */
  font-family: "Lato", sans-serif;
}

.App {
  width: auto;
}

.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

ul {
  list-style-type: none;
}

.App-header {
  /* background-color: #600101; */
  padding: 10px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #ffe8d6;
  position: relative;
}

.wallet {
  font-size: 15px;
  display: flex;
  margin-left: auto;
}

.wallet-button {
  height: calc(10px + 2vmin);
  text-align: center;
  font-family: "Lato", sans-serif;
  border: 1px solid rgba(80, 80, 80, 0.5);
  border-radius: 5px;
  color: white;
  background-color: #be6314;
}

.wallet-address {
  height: calc(10px + 2vmin);
  width: 7rem;
  display: flex;
  vertical-align: middle;
  margin-right: 10px;
  background: radial-gradient(
    circle,
    rgba(80, 80, 80, 1) 0%,
    rgba(55, 55, 55, 1) 40%,
    rgba(20, 20, 20, 1) 91%
  );
  border-radius: 5px;
}

.wallet-address p {
  margin: auto;
}

.App-error {
  background-color: red;
  padding: 10px;
  margin: 20px 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #ffe8d6;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background-color: black;
  color: #ffe8d6;
}
button,
select {
  cursor: pointer;
}

button:disabled,
select:disabled {
  cursor: not-allowed;
}

.container {
  color: white;
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .container {
    width: 70vw;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 90vw;
  }
}

.container-box {
  background: radial-gradient(
    circle,
    rgba(50, 50, 50, 1) 0%,
    rgba(40, 40, 40, 1) 30%,
    rgba(20, 20, 20, 1) 91%
  );
  padding: 1rem 20px;
  margin: 5px;
  box-shadow: 1px -1px 25px -1px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -1px 25px -1px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -1px 25px -1px rgba(0, 0, 0, 1) inset;
  border-radius: 10px;
}

.container-box ul {
  padding-left: 20px;
}

.welcome-warrior {
  text-align: center;
  color: #ffe8d6;
}

.golden-font {
  color: #bf9b30;
}

.dungeon-golden-font {
  color: #bf9b30;
  width: 130px;
}

.d-flex {
  display: flex;
  width: 100%;
}

.summoner-class {
  width: 35%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summoner-class-title {
  width: 100%;
  text-align: center;
}

.summoner-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.summoner-img-container {
  margin: 10px auto;
  text-align: center;
}

.summoner-class .summon-id img {
  max-width: 50%;
}

.navigation-bar {
  display: flex;
}

.nav-link,
.tab {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-link.selected,
.tab.selected {
  font-weight: bold;
  color: #ddaf26;
  text-shadow: #ccc 0 0 15px;
}

.navigation-bar span {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 20px;
}

.navigation-bar button {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.summon-new {
  margin-left: auto;
  color: white;
  background-color: #be6314;
}

.assign-points-summoner {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px !important;
  background-color: #be6314 !important;
}

.confirm-points-summoner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  height: 50px;
  background-color: #be6314 !important;
  text-align: center;
  font-family: "Lato", sans-serif;
  width: 49%;
  border: 1px solid black;
  border-radius: 5px;
}

.summon-id {
  display: flex;
  justify-content: center;
  margin-top: auto;
  text-align: center;
  width: 100%;
}

.summon-id-input {
  text-align: center;
  margin: auto;
  color: #bf9b30;
  font-family: "Lato", sans-serif;
  width: 70%;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
}

.summon-id-input:focus {
  outline: none !important;
  border: 1px solid #bf9b30;
  box-shadow: 0 0 10px #bf9b30;
}

.new-summoner-button {
  cursor: pointer;
  margin-left: 5px;
  border: 1px solid rgba(37, 37, 37, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
}

.new-summoner-button-assign {
  cursor: pointer;
  margin: 10px;
  height: 50px;

  width: 50%;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid rgba(37, 37, 37, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
}

.new-summoner-button img {
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  font-family: "Lato", sans-serif;
  width: 33%;
  height: 4rem;
  color: white;
  border-radius: 5px;
}

.summoner-stats {
  display: flex;
  justify-content: space-between;
}

.summoner-information {
  flex: 1 1 50%;
  padding-right: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.3);
}

.summoner-attributes {
  flex: 1 1 50%;
}

.summon-name input {
  text-align: center;
  color: #bf9b30;
  font-family: "Lato", sans-serif;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
  margin-right: 10px;
}

.summon-name input:focus {
  outline: none !important;
  border: 1px solid #bf9b30;
  box-shadow: 0 0 10px #bf9b30;
}

.progress {
  color: #bf9b30;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
  margin: auto 0 auto auto;
  height: 25px;
  width: 60%;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.progress-done {
  background: linear-gradient(to left, #be6314, #6e2b16);
  height: inherit;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.progress .total {
  position: relative;
  margin: auto !important;
  text-align: center;
  color: white;
  height: 100%;
  line-height: 25px;
}

.claim-gold {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.claim-gold div {
  width: 50%;
}

.claim-gold-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.gold-indicator {
  margin: 0 10px !important;
}

.claim-gold img {
  display: block;
  height: 25px;
  width: 25px;
}

.dungeon-modal-body {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 10px;
  font-size: 15px;
}

.dungeon-image {
  outline: none !important;
  border: 1px solid #bf9b30;
  max-height: 200px;
  max-width: 338px;
  width: 100%;
  box-shadow: 0 0 10px #bf9b30;
  margin: auto;
  display: flex;
}

.dungeon-container-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 25px;
  padding: 20px;
  width: 50%;
  margin: 10px;
}

.dungeon-description {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.dungeon-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.dungeon-button-adventure {
  text-align: center;
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: 24px;
  width: 40%;
  background-color: #be6314;
  margin: auto;
}

.dungeon-button-adventure:hover {
  text-align: center;
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  color: #be6314;
  font-weight: bolder;
  font-size: 24px;
  background-color: white;
}

.summon-name button,
.claim-gold button {
  font-family: "Lato", sans-serif;
  color: white;
  width: 5rem;
  background-color: rgb(27, 98, 136);
  border: 2px solid rgb(24, 54, 74);
}

.claim-gold button {
  width: 100%;
}

.summoner-attribute-container {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  height: 2.5rem;
  margin: 5px 0;
}

.summoner-attribute-container button {
  flex: 1;
  height: 100%;
  margin: auto;

  margin: 0px 10px;
  cursor: pointer;
  border: 1px solid rgba(37, 37, 37, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
  color: rgb(224, 61, 42);
  font-weight: bold;
  font-size: x-large;
}

.claim-gold-container button:disabled {
  cursor: not-allowed;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
  color: gray;
}

.dungeon-image-container {
  flex: 1 1 50%;
  display: flex;
}

.dungeon-buttons-thecellar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 50%;
}

@media (max-width: 1000px) {
  .dungeon-buttons-thecellar {
    flex-direction: column;
  }
  .dungeon-button-adventure {
    font-size: 100%;
  }
}

.dungeon-buttons-thecellar button:disabled,
.forest-content-buttons button:disabled {
  cursor: not-allowed;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
  color: gray;
}

.summoner-attribute-container button:disabled {
  cursor: not-allowed;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
  color: gray;
}

.summoner-attribute {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-family: "Lato", sans-serif;
  width: 70%;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
}

.summoner-attribute span {
  margin-left: 10px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-left-color: #bf9b30;
  margin: auto;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.summon-name {
  display: flex;
  align-items: center;
  align-content: center;
}

.summon-name p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.summon-name span {
  margin-right: 5px;
}

.stats-list p {
  margin: 0;
  padding: 10px 0;
}

.stats-list span {
  font-weight: bold;
}

.stats-list input,
.stats-list button {
  margin: 10px 5px;
}

.summon-name img {
  cursor: pointer;
  margin-left: 10px;
  display: block;
  height: 25px;
  width: 25px;
}

.forest-title {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 20px;
}

.forest-content {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.forest-content .dungeon-image {
  margin-bottom: 20px;
}

.forest-content-buttons {
  display: flex;
  align-content: center;
}

.summoners-container {
  display: flex;
  flex-wrap: wrap;
}

.summoner-card {
  flex: 0 0 33%;
}

.summoner-card-body {
  display: flex;
  margin: 5px;
  padding: 10px;
  border: 1px solid transparent;
}

.summoner-card-body:hover {
  border: 1px solid #bf9b30;
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(50, 50, 50, 1) 0%,
    rgba(40, 40, 40, 1) 30%,
    rgba(20, 20, 20, 1) 91%
  );
}

.summoner-card-class-image {
  width: 25%;
  margin-right: 10px;
  display: flex;
  cursor: pointer;
}

.summoner-card-class-image img {
  width: 100%;
  margin: auto;
}

.summoner-card-info {
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.summoner-card-info p {
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summoner-card-info {
  width: 75%;
}

.summoner-card-row {
  margin-bottom: 5px;
}

.summoner-card-info .progress {
  width: 100%;
  height: 15px;
}

.summoner-card-info .progress .total {
  line-height: 15px;
}

.summoner-card-level-adventure {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.summoner-card-adventure {
  cursor: pointer;
}

.unknown-summoner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(80, 80, 80, 1) 0%,
    rgba(55, 55, 55, 1) 60%,
    rgba(20, 20, 20, 1) 80%
  );
}
