body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #264653;
  background: no-repeat center
    url("https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZmFudGFzeXxlbnwwfHwwfHw%3D");
  font-family: "MedievalSharp", cursive;
}

.App {
  width: auto;
}

.App-header {
  background-color: #600101;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffe8d6;
}

.App-error {
  background-color: red;
  padding: 10px;
  margin: 20px 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #ffe8d6;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background-color: black;
  color: #ffe8d6;
}
button,
select {
  cursor: pointer;
}

button:disabled,
select:disabled {
  cursor: not-allowed;
}

.container {
  color: white;
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
}

.container-box {
  background: radial-gradient(
    circle,
    rgba(50, 50, 50, 1) 0%,
    rgba(40, 40, 40, 1) 30%,
    rgba(20, 20, 20, 1) 91%
  );
  padding: 1rem 20px;
  margin: 10px 0;
  box-shadow: 1px -1px 25px -1px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 1px -1px 25px -1px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 1px -1px 25px -1px rgba(0, 0, 0, 1) inset;
  border-radius: 10px;
}

.container-box ul {
  padding-left: 20px;
}

.welcome-warrior {
  text-align: center;
  color: #ffe8d6;
}

.golden-font {
  color: #bf9b30;
}

.d-flex {
  display: flex;
  width: 100%;
}

.summoner-class {
  width: 35%;
  margin-right: 5%;
}

.summoner-class-title {
  width: 100%;
  text-align: center;
}

.summoner-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.summoner-img-container {
  text-align: center;
}

.summoner-class img {
  max-width: 50%;
  height: auto;
}

.summoner-buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 15px;
}

.summoner-buttons button {
  text-align: center;
  font-family: "MedievalSharp", cursive;
  width: 49%;
  border: 1px solid black;
  border-radius: 5px;
}

.summoner-buttons select {
  text-align: center;
  color: #bf9b30;
  font-family: "MedievalSharp", cursive;
  width: 49%;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
}

.summon-new {
  color: white;
  background-color: #be6314;
}

.summon-id {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.summon-id-input {
  text-align: center;
  color: #bf9b30;
  font-family: "MedievalSharp", cursive;
  width: 70%;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
}

.summon-id-input:focus {
  outline: none !important;
  border: 1px solid #bf9b30;
  box-shadow: 0 0 10px #bf9b30;
}

.new-summoner-button {
  cursor: pointer;
  margin-left: 5px;
  border: 1px solid rgba(37, 37, 37, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
}

.new-summoner-button img {
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  font-family: "MedievalSharp", cursive;
  width: 33%;
  height: 4rem;
  color: white;
  border-radius: 5px;
}

.summoner-stats {
  display: flex;
  justify-content: space-between;
}

.summoner-information {
  width: 49.5%;
  margin-right: 1%;
}

.summoner-attributes {
  width: 49.5%;
}

.xp-spend {
  display: flex;
  justify-content: space-between;
}

.xp-spend p {
  flex: 2;
}

.xp-spend input {
  text-align: center;
  color: #bf9b30;
  font-family: "MedievalSharp", cursive;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
  margin-right: 10px;
}

.xp-spend input:focus {
  outline: none !important;
  border: 1px solid #bf9b30;
  box-shadow: 0 0 10px #bf9b30;
}

.xp-spend button {
  font-family: "MedievalSharp", cursive;
  color: white;
  background-color: rgb(27, 98, 136);
  border: 2px solid rgb(24, 54, 74);
}

.summoner-attribute-container {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  height: 2.5rem;
  margin: 5px 0;
}

.summoner-attribute-container button {
  flex: 1;
  height: 100%;
  margin: 0px 10px;
  cursor: pointer;
  border: 1px solid rgba(37, 37, 37, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
  color: rgb(224, 61, 42);
  font-weight: bold;
  font-size: x-large;
}

.summoner-attribute-container button:disabled {
  cursor: not-allowed;
  background: radial-gradient(
    circle,
    rgba(99, 84, 75, 1) 0%,
    rgba(72, 72, 67, 1) 30%,
    rgba(43, 44, 38, 1) 91%
  );
  color: gray;
}

.summoner-attribute {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-family: "MedievalSharp", cursive;
  width: 70%;
  border: 2px solid rgba(53, 26, 20, 1);
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(71, 35, 18, 1) 0%,
    rgba(52, 27, 24, 1) 30%,
    rgba(42, 25, 23, 1) 91%
  );
}

.summoner-attribute span {
  margin-left: 10px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-left-color: #bf9b30;
  margin: auto;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
